#pie-chart {
     font-size: 60px;
     display: inline-block;
     margin: 0 auto;
}

#row-chart {
    font-size: 60px;
}

#bubble-chart {
    font-size: 60px;
}

.dc-chart g.row text {
    fill: black;
    font-size: 12px;
}